@font-face {
  font-family: "zen-light";
  src: url("./font/zen_light.ttf") format("truetype");
}
body {
  font-family: "zen-light";
}
/*フォント*/
.codeText {
  background-color: #111111;
  color: #dddddd;
  margin: 20px;
  border-radius: 5px;
  width: 300px;
}
