@font-face {
  font-family: "zen-light";
  src: url("./font/zen_light.ttf") format("truetype");
}
* {
  font-family: "zen-light";
}
/*↑フォント*/
header {
  height: auto;
  color: #000000;
}
.codeText {
  background-color: #111111;
  color: #dddddd;
  padding: 10px;
  border-radius: 5px;
  width: 75%;
}
