#input{
  text-align: center;
  background-color: #ffffff;
  width: 50%;
  height: 75%;
  margin: 0 auto;
}
body{
  background-image: repeating-linear-gradient(-45deg,#ffffff,#ffffff 5px,#00b2bf 5px,#00b2bf 10px);
}

