#input *{
  text-align: center;
}
#input{
  background-color: #ffffff;
  width: 80%;
  height: 200%;
  margin: 0 auto;
}
body{
  background-image: repeating-linear-gradient(-45deg,#ffffff 0px,#ffffff 3.535px,#00b2bf 3.535px,#00b2bf 7.07px);
}

