#input *{
  text-align: center;
}
#input{
  background-color: #ffffff;
  width: 80%;
  height: 200%;
  margin: 0 auto;
}
body{
  background-image: repeating-linear-gradient(-45deg,#ffffff,#ffffff 5px,#00b2bf 5px,#00b2bf 10px);
  background-position: 0 0;
  background-size: 28.28px 28.28px;
}

